.rules {
    &--component {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        width: 12rem;
        height: 4rem;
        border: 2px solid $blue-gray;
        border-radius: 1rem;

        &__btn {
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: $color-white;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
        }
    }

    &__overlay {
        position: absolute;
        background-color: rgba(rgb(0, 0, 0), .5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    &--display {
        background-color: $color-white;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1rem;
        padding: 3rem;

        @include respond(phone) {
            width: 30rem;
          }

        &__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &--text {
                font-size: 3rem;
                color: $blue-gray;
                text-transform: uppercase;
            }

            &--close {
                font-size: 4rem;
                color: rgb(221, 220, 220);
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        &__guide--pic {
            @include respond(phone) {
                width: 30rem;
                height: 30rem;
                text-align: center;
              }
        }
    }
}